Language: Cpp

UseTab: Never
IndentWidth: 4
ColumnLimit: 107
MaxEmptyLinesToKeep: 1
FixNamespaceComments: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterControlStatement: true
  AfterEnum: true
  BeforeElse: true

SpacesInConditionalStatement: false

SpaceBeforeAssignmentOperators: true
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
PointerAlignment: Middle
ReferenceAlignment: Pointer

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: false
